<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>

<!-- Bootstrap requires the following three meta tags to appear first -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<title>Vocabulary Anagram</title>

<!-- Javascript and Cascading Style Sheets (css) libraries -->
<!-- mostly from content delivery networks                 -->

<!-- jquery; CDN load is usually quick because it's likely cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Bootstrap stylesheet let's us have a 'responsive' layout; -->
<!-- 12 column grid rearranges itself for smaller screens or windows. -->

<!-- per http://getbootstrap.com/getting-started/  -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
 integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
  crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script
 src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
 integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
 crossorigin="anonymous">
</script>

<!-- Our own css file.  Note how we can link directly here and not -->
<!-- write any routing code in the Flask application. -->
<link rel="stylesheet" href="/static/jumble.css" />

</head>

<body>
<div class="container">

  <div class="row">
    <div class="col-xs-6 text-center">
      <h1>Words</h1>
    </div>
  </div>
<!-- Vocabularly words layed out in 6 columns;
  -- bootstrap may collapse to fewer columns and
  -- more rows if the window is narrow.
  -->
<div class="row">
  {% for word in g.vocab %}
    <div class="col-xs-2 text-center"> {{ word }} </div>
    {% if loop.index is divisibleby 3 %}
    </div> <!-- row -->
    <div class="row">
    {% endif %}
  {% endfor %}
</div> <!-- row -->

<br />

<div class="row">
  <div class="col-xs-6 text-center">
   Use letters from
  </div>
  </div><div class="row">
  <div class="col-xs-6 text-center lead">
    <strong>{{ session.jumble }}</strong>
  </div>
  </div><div class="row">
  <div class="col-xs-6 text-center">
    to spell {{session.target_count}} words from the list.
  </div> <!-- col -->
</div> <!-- row -->
<br />
<div class="row">
  <div class="col-xs-6 text-center">
  <form id="entry" action="/_check">
    <label for="attempt">Word:</label>
    <input id="attempt" name="attempt" type="text" width="15"
      autocomplete="off"  autofocus />
      <br />
    <button id = "hard">DO YOU DARE TRY INSANE MODE?</button>
  </form>
</div></div>

<br />

<h2 id="found"></h2>
<p id="results"></p>
<p id="message"></p>

<script type="text/javascript">
  $("#entry").submit(function(event) {
      event.preventDefault();
  });

  // Dict containing the default innerHTML
  // The reason for this is so I can save the innerHTML info so I can switch back and forth between highlighted and not
  var vocab_default = {};
  // An object containing all row elements
  var rows = document.getElementsByClassName("row");
  var word_elements = $("[class='col-xs-2 text-center']");
  // I had a lot of issues with this part and went through a lot of trial and error
  // I added this count so that the keys will be order and not skipping numbers like I had it before
  var count = 0;
  for (i = 0; i < rows.length; i++) {
      // If i > 0 and < length -4 then it will always be the vocab rows
      // I also included in length - 3 so I can get the scrambled row
      var row_key = count + "_row";
      var row_html_key = count + "_inner"
      if ((i > 0 && i < rows.length - 4) || i == rows.length - 3) {
          vocab_default[row_key] = rows[i];
          vocab_default[row_html_key] = rows[i].innerHTML;
          count++;
      }
  }
  function highlight() {
      // Used this site as a reference to write this function
      // http://jsbin.com/iriwaw/2/edit?html,js,output
      for (i = 0; i < Object.keys(vocab_default).length / 2; i++) {
          var text = $("#attempt").val();
          var row_key = i + "_row";
          var row_html_key = i + "_inner";
          // grabs the current row, rows innerHTML, and makes a lists of the words in that row
          var curr_row = vocab_default[row_key];
          var inner = vocab_default[row_html_key];
          var words = curr_row.innerText.split(" ");
          for (j = 0; j < words.length; j++) {
              if (words[j].includes(text)) {
                  // If the text is in a word then a span will surround them to make them a different color
                  highlighted = words[j].replace(new RegExp('(' + text + ')', 'gi'), '<span style="color:red">$1</span>');
                  inner = inner.replace(words[j], highlighted);
              }
          }
          curr_row.innerHTML = inner;

      }
  }
// tracks if hard mode is on or off
// True = on, false = off
// words contains each word element
var tracker = false;
function insane(){
	if (tracker){
		rand_num = Math.floor(Math.random() * word_elements.length);
		rand_elem = word_elements.eq(rand_num);
		if(rand_elem.is(":visible")){
			rand_elem.fadeOut(Math.floor(Math.random() * 500), insane)

		}
		else{
			rand_elem.fadeIn(Math.floor(Math.random() * 500), insane);
		}
	}
}

  $("#hard").click(function fadeInDiv(){
  	// Used this as a reference for this function 
  	// https://stackoverflow.com/questions/8436544/randomly-fade-divs
  	if(tracker){
  		// Game is on so needs to be turned off
  		word_elements.fadeIn();
  		tracker = false;
  		$("#hard").html("DO YOU DARE TRY INSANE MODE?");
  	}
  	else{
  		// Game is off so needs to be turned on
  		tracker = true;
  		$("#hard").html("WAIT NO GO BACK!!");
  		word_elements.fadeOut();
  		insane();
  		}
});

  $("#attempt").keyup(function(event) {
      var txt = $("#attempt").val(); // Current content of the input field
      var keycode = event.which; // They key that just went up
      var letter = String.fromCharCode(keycode);

      if (event.keyCode == 8 || event.charCode == 46)
          // If the user deletes a letter highlight will be called again to highlight the remaining letters
          highlight();
      if (!"ABCDEFGHIJKLMNOPQRSTUVWXYZ".includes(letter)) {
          return
      }
      // Grabs the words that are currently displayed. If none then displayed == ""
      var displayed = $("#results").html()

      $.getJSON("/_check", {
              text: txt,
              lett: letter,
              matches: displayed
          },
          function(data) {
              letter_valid = data.result.letter_valid;
              word_valid = data.result.word_valid;
              mess = data.result.message;
              game_over = data.result.game_over;
              if (game_over) {
                  window.location.replace("/success")
                  return
              }
              if (letter_valid) {
                  if (word_valid) {
                      highlight();
                      if (displayed == "") {
                          $("#found").html("You found:\n");
                      }
                      $("#results").html(displayed + txt + "\n");
                      $("#attempt").val("");
                  } else {
                      highlight();
                  }
              } else {
                  // My attempt at stopping the user from entering keys theyre not supposed to it sort of works
                  // If you were to press keys as fast as you can then you can get past this
                  $("#attempt").val(txt.slice(0, -1));
              }
              // Displays appropriate message
              $("#message").html(mess);
          }

      );
  });
</script>


 </div> <!-- container -->
</body> </html>
